* text=auto

*.cs text eol=crlf
*.csproj text eol=crlf
*.xaml text eol=crlf
*.ps1 text eol=crlf
*.iss text eol=crlf
*.nip text eol=crlf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.zip binary
*.exe binary
*.dll binary
*.pdb binary
*.bin binary
